ORR-Data-v2.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="record">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="category" type="xs:string" />
			<xs:element name="LinkID" type="xs:string" />
			<xs:element name="imageID" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
  </xs:element> 
</xs:schema>